{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Add an ingredient</h1>
    {{ wtf.quick_form(form) }}
    <br>
    {% for ingredient in ingredients %}
    	{% include 'cook/_ingredient.html' %}    
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer ingredients
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older ingredients <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
    <script src="{{ url_for('static', filename='lws.js') }}" ></script>
    <script>
        $(document).ready(function(){
        ingredients_api_endpoint = "{{ url_for('cook.ingredients') }}";

        $("input[id='ingredient_name']" ).autocomplete({
            source: load_items(ingredients_api_endpoint), 
            });
        }); 
    </script>
{% endblock %}