{% extends "base.html" %}


{% block app_content %}
<p>
Quarterly ROIs past month vs long term ({{stats['long_term_3monthROI']}}):
<span class="dynamicsparkline" 
	id="month_roi_jps">Loading</span>
</p>

<p>
Quarterly ROIs past week vs long term ({{stats['long_term_3monthROI']}}):
<span class="dynamicsparkline" 
	id="week_roi_jps">Loading</span>
</p>
<p>
Prices (past month): 
<span class="dynamicsparkline" 
	id="month_price_jps">Loading</span>
</p>

<p>
Prices (past week): 
<span class="dynamicsparkline" 
	id="week_price_jps">Loading</span>
</p>

<p>updated utc-time: {{stats['updated_utctime']}}</p>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jquery.sparkline.js') }}" ></script>
    <script src="{{ url_for('static', filename='lws.js') }}" ></script>
    <script type="text/javascript">
    setup_charts('month_roi_jps', {{stats['last_30day_3monthROIs']|tojson}}, {{stats['long_term_3monthROI']}});
    setup_charts('week_roi_jps', {{stats['last_5day_3monthROIs']|tojson}}, {{stats['long_term_3monthROI']}});
    setup_charts('month_price_jps', {{stats['last_30day_prices']|tojson}}, 0);
    setup_charts('week_price_jps', {{stats['last_5day_prices']|tojson}}, 0);
    </script>
{% endblock %}